@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap');
@import "tailwindcss";

body {
  background: #f9fafb;
  color: #111827;
}

.font-cairo {
  font-family: 'Cairo', sans-serif;
}
